<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><i class="fas fa-viruses"></i>COVID Germ Pod</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-color">
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item active">
                    <a class="navbar-brand" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="/faq">FAQ</a>
                </li>
                <li class="nav-item">
                    {{#if logged_in}}
                    <a href="/profile">Dashboard</a>
                    <a href='/' id='logout'>Logout</a> |
                    {{else}}
                    <a href="/login" id="login">Let's get started!</a>
                    {{/if}}
                </li>
                <li class="nav-item active">
                    <a id="cdc-nav" href="https://www.cdc.gov/">CDC Website</a>
                </li>
            </ul>
            <ul>
                <ul>
                    <div class="mx-auto my-2 order-0 order-md-1 position-center">
                        <a class="mx-auto" href="/">
                            <img src="/images/COVID Germ Pod.png" class="rounded-circle"
                                style="height: 80px; opacity: unset;">
                        </a>
                </ul>
            </ul>
            <ul>
                <ul>
                    <form class="form-inline my-2 my-lg-0" id="">
                        <input id="searchbar" class="form-control mr-sm-2" type="search" placeholder="Find a group..."
                            aria-label="Search">
                        <button id="search" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </ul>
            </ul>
        </div>

    </nav>

    <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
    </main>
    <footer>

    </footer>
    </div>
    ​
    <!-- Render script for logged in users only -->


    <footer>
        <nav id="navbar navbar-expand-lg fixed-bottom navbar-color bg-color" id="foot-nav">
            <a class="navbar-brand" href="#">
                <ul>
                    <ul class="nav-item active">
                        <a href="#placeholder" class="fa fa-facebook"></a>
                        <a href="#placeholder" class="fa fa-twitter"></a>
                        <a href="#placeholder" class="fa fa-instagram"></a>
                    </ul>
                </ul>
            </a>

        </nav>
        </div>
    </footer>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
​

</html>