<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><i class="fas fa-viruses"></i>COVID Germ Pod</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <img src="/images/COVID Germ Pod.png" alt="COVID Germ Pod Logo" style="border-radius: 20%; height: 150px;">
        <ul class="nav navbar-nav navbar-left">
            <li><a class="navbar-brand" href="/">Home</a></li>
            <li><a class="navbar-brand" href="/faq">FAQ</a></li>
            {{#if logged_in}}
            <a href="/profile">profile</a>
            <a href='/' id='logout'>logout</a> |
            {{else}}
            <a href="/login" id="login">Let's get started!</a>
            {{/if}}
            <br>
            <a id="cdc-nav" href="https://www.cdc.gov/">CDC Website</a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Find a group..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </ul>
        </div>
    </nav>

    <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
    </main>
    <footer>

    </footer>
    </div>
    ​
    <!-- Render script for logged in users only -->
    

    <footer>
        <nav class="navbar navbar-expand-lg fixed-bottom navbar-color bg-color">
            <a class="navbar-brand" href="#">
                <ul>
                    <li class="nav-item active">
                        <a href="#placeholder" class="fa fa-facebook"></a>
                        <a href="#placeholder" class="fa fa-twitter"></a>
                        <a href="#placeholder" class="fa fa-instagram"></a>
                </ul>
            </a>
            </div>
        </nav>
        </div>
    </footer>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
​

</html>