<div class="faq">
    <div class="col-md-5">
        <h2>FAQ</h2>
        </h2>

        <p>
            What is a germ pod?
            Different people use different terms but the idea is the same: minimize the risk of catching a contagious
            disease by
            limiting social interaction to a few other individuals who are taking similar precautions. These people also
            agree to
            limit their close interactions to the same people you are, creating a “Pod” that is more-or-less
            self-contained.
            Why make a germ pod?
            Every person we interact with carries inherent risk to health and safety. This risk increases when a
            communicable
            disease is more prevalent (i.e. a pandemic). Now if everyone in the world isolated for a month or so the
            disease would
            disappear, but that is just not realistic. Humans are social creatures who require regular interaction. A
            Germ Pod
            serves as a harm reduction tool that provides some person-to-person contact while decreasing the risk of
            contracting and
            spread disease.
            How do Germ Pods work with COVID-19?
            The novel coronavirus SARS-CoV2 is primarily spread during close contact with infected individuals via
            respiratory
            droplets. By limiting social interactions, washing hands frequently, wearing masks, keeping 6+ feet away
            apart, and only
            using outdoor spaces to gather, you can reduce your overall risk of contracting COVID-19. However these
            things can’t
            always be done so creating a Pod of like-minded individuals who will only break these rules with other
            members of the
            same group can reduce the risk of contagion significantly.
            What makes a good germ pod?
            Just like every relationship in life, communication is paramount. Our tool only serves as a launching point
            for some of
            these difficult conversations, but it is up to you and your group to continue these discussions. Having a
            Germ Pod that
            engages in communication without judgement or shame is much more likely to have open, honest conversations
            that protect
            the members.
            Anything else I should know?
            For a group to work the members should default to following the guidelines from the most cautious teammate.
            It is
            important to act like you are a proxy for your Podmates; if one of them would feel uncomfortable with your
            course of
            action, it’s likely you shouldn’t do it.
            Germ Pods are made of humans and thus, mistakes will happen. It’s important to have a clear path to getting
            back into
            the Pod after a slipup. This makes it easier for Podmates to come forward when the slipup happens. Things
            like guilt and
            shame work against honesty for these purposes. Now if the same member continues to ignore the agree upon
            rules there
            should be a different conversation regarding if membership should continue but that’s for each member to
            decide.
            Germ Pods are not fool-proof. They take time and work and energy to create and maintain and even then, they
            can fail.
            Every person you interact with increases the risk of catching a communicable disease so carefully consider
            before adding
            folks into the Pod.
            Vocab:
            Distanced, Social distancing, etc.
            Refers to the advice to stay at least 6ft apart from other people
            Masked, masks, etc
            Refers to wearing a properly fitting cloth or surgical mask or better


            Send a message to Page Black

        </p>

    </div>

</div>