<div class="pod-images">
    <div class="row">
        <div class="col-md-3">
            <a class="mx-auto" alt="kids" href="/">
                <img src="/images/faq.png" class="rounded-circle" style="height: 600px;">
            </a>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <a class="mx-auto" href="/">
                <img src="/images/spirit-masks.png" class="rounded-circle" style="height: 500px;">
            </a>
        </div>
    </div>
    <br>
    <br>
</div>
<div class="faq">
    <div class="col-md-12">

        <p>
            <strong>
                <h6>WHAT IS A GERM POD?</h6>
            </strong>
            <hr>
            <br>
            <i>Different people use different terms but the idea is the same: minimize the risk of catching a
                contagious
                disease by
                limiting social interaction to a few other individuals who are taking similar precautions. These
                people
                also
                agree to
                limit their close interactions to the same people you are, creating a “Pod” that is more-or-less
                self-contained.</i>
            <br>
            <br>
            <br>
            <strong>
                <h6>WHY MAKE A GERM POD?</h6>
            </strong>
            <br>
            <i>Every person we interact with carries inherent risk to health and safety. This risk increases when a
                communicable
                disease is more prevalent (i.e. a pandemic). Now if everyone in the world isolated for a month or so
                the
                disease would
                disappear, but that is just not realistic. Humans are social creatures who require regular
                interaction.
                A
                Germ Pod
                serves as a harm reduction tool that provides some person-to-person contact while decreasing the
                risk of
                contracting and
                spread disease.</i>
            <br>
            <br>
            <br>
            <strong>
                <h6>HOW DO GERM PODS WORK WITH COVID-19?</h6>
            </strong>
            <br>
            <i>The novel coronavirus SARS-CoV2 is primarily spread during close contact with infected individuals
                via
                respiratory
                droplets. By limiting social interactions, washing hands frequently, wearing masks, keeping 6+ feet
                away
                apart, and only
                using outdoor spaces to gather, you can reduce your overall risk of contracting COVID-19. However
                these
                things can’t
                always be done so creating a Pod of like-minded individuals who will only break these rules with
                other
                members of the
                same group can reduce the risk of contagion significantly.</i>
            <br>
            <br>
            <br>
            <strong>
                <h6>WHAT MAKES A GOOD GERM POD WORK?</h6>
            </strong>
            <br>
            <i>Just like every relationship in life, communication is paramount. Our tool only serves as a launching
                point
                for some of
                these difficult conversations, but it is up to you and your group to continue these discussions.
                Having
                a
                Germ Pod that
                engages in communication without judgement or shame is much more likely to have open, honest
                conversations
                that protect
                the members.</i>
            <br>
            <br>
            <br>
            <strong>
                <h6>ANYTHING ELSE I SHOULD KNOW BEFORE GETTING STARTED?
                </h6>
            </strong>
            <br>
            <i>For a group to work the members should default to following the guidelines from the most cautious
                teammate.
                It is
                important to act like you are a proxy for your Podmates; if one of them would feel uncomfortable
                with
                your
                course of
                action, it’s likely you shouldn’t do it.
                Germ Pods are made of humans and thus, mistakes will happen. It’s important to have a clear path to
                getting
                back into
                the Pod after a slipup. This makes it easier for Podmates to come forward when the slipup happens.
                Things
                like guilt and
                shame work against honesty for these purposes. Now if the same member continues to ignore the agree
                upon
                rules there
                should be a different conversation regarding if membership should continue but that’s for each
                member to
                decide.
                <br>
                <br>
                <u><b>Germ Pods are not fool-proof.</b></u> They take time and work and energy to create and
                maintain
                and even then,
                they
                can fail.
                Every person you interact with increases the risk of catching a communicable disease so carefully
                consider
                before adding
                folks into the Pod.</i>
        </p>
        <br>
        <br>
        <br>
        <hr>
        <div class="volcab-card">
            <h6>GERM POD VOLCABULARY
            </h6>
        </div>
    </div>
    <hr>
    <ul>
        <p><i>
                <li><b>Distanced, Social distancing, etc. =</b>
                    <br>
                    <br>
                    Refers to the advice to stay at least 6ft apart from other people
                </li>
                <br>
                <br>
                <br>
                <li><b>Masked, masks, etc =</b>
                    <br>
                    <br>
                    Refers to wearing a properly fitting cloth or surgical mask or better.
                </li>
            </i>
        </p>
</div>
</div>