<div class="col-md-3">
    <h2>Germ Pods</h2>
    </h2>
    <p id="homepage-card">
        <br>
        …COVID Bubble, Quaranteam, whatever you call them, they can be useful tools for mitigating the risks of
        contracting and
        spreading serious diseases while reducing the harms of social isolation.<br>
        <br>
        <br>
        Establishing and navigating
        within
        these groups
        can be difficult especially without clear understanding of expectations.
        Let us help you get your Germ Pod started with our simple process. After you signup/login you will be
        able
        to create
        your own pod and start inviting your friend’s today!
        <br>
        <br>
        <br>
        If you are new to Germ Pods it’s highly recommended
        that you begin
        at our FAQ page to help you get started on the right foot.
        <br>

    </p>
</div>
</div>
</section>