{{#each groups as |group| }}
<div class="eachPost row blogPost">
    <div class="col-md-5">
        <h2>
            <a href='/blogPost/{{group.id}}'> {{group.name}}</a>
        </h2>
        
    </div>
      
</div>
{{/each}}