<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Group:</h3>

    <form class="form new-group-form">
      <div class="form-group">
        <label for="group-name">Pod Name:</label>
        <input class="form-input" type="text" id="group-name" name="group-name" />
      </div>
      <div class="form-group">
        <label for="group-password">Pod Password: </label>
        <input class="form-input" type="password" id="group-password" name="group-password" />
      </div>
      <div class="form-group">
        <label for="group-invites">email addresses of pod-members you'd like to invite (seperate each address with a comma)</label>
        <input class="form-input" type="email" id="group-invites" name="group-invites"/>
      </div>
      
        <h4>Which rules should the group agree to follow?</h4>
    {{#each rules as |rule| }}
    <div class='form-group'>
      <input class='form-input group-rules' type='checkbox' name='group-rules' value={{rule.id}}> <label for={{rule.id}}> {{rule.name}}: {{rule.description}}</label></input>
        </div>
        {{/each}}

        <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>


  <script src="./js/newGroup.js"></script>