​<div class="flex-column justify-space-around"></div>
<div class="container"></div>
<div class="row" href="main">
    <div class="dash-card">
        <h1 class="my-dashboard">My Dashboard</h1>
        <hr>
        <br>
        <br>
        <form action="upload.php" method="post">
            <input type="file" name="file" id="file" />
        </form>
    </div>
    <aside class="col-md-6 user-info">
        <div class="info-card">
            <h4 class="my-info">Personal Information</h4>
            <hr>
            <ul>
                <ul id="first-name">Name: {{name}}</ul>
                <ul id="email">Email: {{email}}</ul>
                <button id="update-password">Update Password</button>
                ​<div class="flex-column justify-space-around"></div>
                <div class="col-md-6 user-group">
                    <h4 class="my-info">Pod Options</h4>
                    <hr>
                    <br>
                    <ul>
                        <a href="#createGroup">Create a New
                            Germpod</a>
                        <br>
                        <a href="#groupDashboard">Go to my Germpod</a>
                    </ul>
                </div>
        </div>
</div>
</div>