<div class="row mt-4">
    <div class="col-md-6">

        <div class-"container">
            <h3>{{ group.name }}</h3>
            <h6>{{ rule.name }}</h6>
            console.log({{rule.name}});

        </div>


    </div>
    <script src="./js/searchResults.js"></script>