body {
  font-family: Helvetica;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../images/homepageBackground.png") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-blend-mode:color-burn;
  background-color: rgb(193, 226, 226);
}

h1, h2, h3, h4, h5, h6 {
    font-stretch:semi-expanded;
    display: inline-block;
    text-align: left;
}

hr {
  color: lightcoral;
}

/* .container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center; */

.about-blurb {
  margin: 15px 100px 15px 100px;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  height: 70% !important;
  flex-wrap: wrap;
  background-color: darkcyan;
  color: white;
  border-style: double;
  border-color: lightcyan;
  border-width: 10px;
}

.faq {
  margin: 0px 300px 5px 300px;
  padding: 10px 20px 40px 10px;
  box-sizing: border-box;
  height: 70% !important;
  text-align: left;
  flex-wrap: wrap;
  background-color: darkcyan;
  color: white;
  border-style: double;
  border-color: lightcyan;
  border-width: 10px;
}

.pod-images {
  padding-right: 200px;
  padding-bottom: 0px;
  flex-direction: wrap;
  justify-content: left;
  flex-wrap: wrap;
  flex-flow: wrap;
  float:initial;
}

.navbar {
  background-color:  lightcyan;
  font-family:'Lucida Sans Unicode';
  font-weight: bolder;
  opacity: 90%;
  height: min-content;
}

nav a {
  color: rgb(72, 83, 94);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: rgb(216, 220, 224);
  background-color: darkcyan !important;
  opacity: 40%;
  border-radius: 40%;
  transition: ease-in;
}

#navbar {
  background-color:  darkcyan;
  background-blend-mode: overlay;
  font-family:'Helvetica';
  font-weight: bolder;
  image-resolution: 100%;
  opacity: 60%;
  width: 10px;
}

#homepage-card {
    height: 100%;
    width: 150%;
    background-color: darkcyan;
    color: darkslategray;
    font-family:'Trebuchet MS';
    flex-direction: wrap;
}


/* CARDS */
.dash-card {
  height: 100% !important;
  padding: 50px 40px 50px 40px;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 15px;
  background-color: lightcyan;
  text-align: left;
  color: darkcyan;
}

.info-card {
  height: 100% !important;
  padding: 80px 40px 80px 40px;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 15px;
  background-color: lightcyan;
  text-align: left;
  color: darkcyan;
}

#first-name, #email, #events {
  text-align: center;
  font-family: 'Helvetica';
  font-weight: bolder;

}

.group-card {
  height: 100% !important;
  padding: 50px 40px 50px 40px;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 15px;
  background-color: lightcyan;
  text-align: left;
  color: darkcyan !important;
} 

.event-list {
  margin: 0px;
  padding: 100px 50px 100px 20px;
  margin-right: 500%;
  box-sizing: border-box;
  width: fit-content;
  height: 50% !important;
  flex-wrap: nowrap;
  flex-flow: column;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 25px;
  background-color: lightcyan;
  text-align: justify;
  color: darkcyan;
  display: flex;
  justify-content:space-around;
}


.group-name-card {  margin: 1px;
  margin-left: 0%;
  margin-bottom:10%;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  height: 70% !important;
  flex-wrap: wrap;
  flex-flow: column;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 25px;
  background-color: lightcyan;
  text-align: left;
  color: darkcyan;
  display: flex;
  justify-content:space-around;
}

.group-pic-card {
  height: 80% !important;
  padding: 50px 40px 50px 40px;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 15px;
  background-color: lightcyan;
  text-align: left;
  color: darkcyan;
}

.pod-options-card {
  height: 100% !important;
  padding: 50px 20px 50px 20px;
  background-color: lightcyan;
  background-blend-mode: lighten;
  text-align: left;
  color: darkcyan;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 15px;
}

.rule-card {
  height: 100% !important;
  padding: 50px 20px 50px 20px;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 15px;
  background-color: lightcyan;
  text-align: left;
  color: darkcyan;
}

.member-card {  
  height: 100% !important;
  padding: 80px 20px 80px 20px;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 15px;
  background-color: lightcyan;
  backface-visibility: hidden;
  text-align: left;
  color: darkcyan;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 40px;
}
.grid-container .card:first-child {
   grid-row: span 2;
}

/* button, #create-group {
    color: darkcyan;
    font: small-caps;
    font-weight: bolder;
    font-family: Helvetica;
    text-shadow: steelblue;
    text-align: left;
    background-color: rgb(207, 231, 238);
    background-blend-mode: hue;
    border-radius: 10px;
    box-shadow: slategrey;
    margin: 2%;
    padding: 10px 5px 10px 5px;
    flex-flow: wrap;
    flex-wrap: wrap;
    justify-content:space-between;
} */

.login-form {
  margin: 0 0 200px 0;
  flex: 0 0 10%;
  max-width: 75%;
  padding: 20px;
  border: 3px darkslategray;
  border-radius: var(--border-radius);
  border-style: double;
  background-color: #d1e6e7;
  background-blend-mode: lighten;
}

.signup-form {
  margin: 0 0 200px 0;
  flex: 0 0 10%;
  max-width: 75%;
  padding:20px;
  border: 3px darkslategray;
  border-radius: var(--border-radius);
  border-style: double;
  background-color: #d1e6e7;
  background-blend-mode: lighten;
}

.new-group-form {
  margin: 0 0 200px 0;
  flex: 0 0 10%;
  max-width: 75%;
  padding: 20px;
  border: 3px darkslategray;
  border-radius: var(--border-radius);
  border-style: double;
  background-color: #d1e6e7;
  background-blend-mode: lighten;
}

.new-group-card {
  margin: 0 0 200px 0;
  flex: 0 0 10%;
  max-width: 75%;
  padding:20px;
  border: 3px darkslategray;
  border-radius: var(--border-radius);
  border-style: double;
  background-color: #d1e6e7;
  background-blend-mode: lighten;
}

.new-group-rules-card {
  margin: 0 0 20px 0;
  /* flex: 0 0 10%; */
  max-width: 100%;
  padding:20px;
  border: 3px darkslategray;
  border-radius: var(--border-radius);
  border-style: double;
  background-color: #d1e6e7;
  background-blend-mode: lighten;
}

.form-input {
    text-align: justify;
}



@media screen and (max-height: 450px) {
  
} 