body {
  font-family:'Trebuchet MS';
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../images/homepageBackground.png") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-color: rgb(193, 226, 226);
}

h1, h2, h3, h4, h5, h6 {
    font-stretch: semi-condensed;
}

.about-blurb {
  margin: 15px 100px 15px 100px;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  height: 70% !important;
  flex-wrap: wrap;
  background-color: darkcyan;
  color: white;
}

.faq {
  margin: 15px 100px 15px 100px;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  height: 70% !important;
  flex-wrap: wrap;
  background-color: darkcyan;
  color: white;
}

.navbar {
  background-color:  darkcyan;
  font-family:'Lucida Sans Unicode';
  font-weight: bolder;
  opacity: 80%;
  height: min-content;
}

nav a {
  color: rgb(72, 83, 94);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: rgb(216, 220, 224);
  background-color: lightskyblue;
  opacity: 40%;
  border-radius: 40%;
  transition: ease-in;
}

#navbar {
  background-color:  darkcyan;
  font-family:'Lucida Sans Unicode';
  font-weight: bolder;
  opacity: 80%;
  width: 10px;
}


/* CARDS */
.dash-card {
  margin: 20px;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  height: 70% !important;
  flex-wrap: wrap;
  flex-flow: column;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 25px;
  background-color: lightslategray;
  text-align: center;
  color: white;
  display: flex;
  justify-content:space-around;
}

/* .aside {
  align-content: flex-end;
  display: flex;
  justify-content:space-around;
} */

.info-card {
  margin: 20px;
  margin-left: 30%;
  padding: 10px 40px 10px 40px;
  box-sizing: border-box;
  max-width: 50%;
  height: 40% !important;
  flex-wrap: wrap;
  flex-flow: column;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 25px;
  background-color: lightslategray;
  text-align: left;
  color: white;
  display: flex;
  justify-content:space-around;
}

.group-card {
  margin: 10px;
  margin-left: 30%;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  width: 10%;
  height: 30% !important;
  flex-wrap: wrap;
  flex-flow: column;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 25px;
  background-color: lightslategray;
  text-align: left;
  color: white;
  display: flex;
  justify-content:space-around;
}

.rule-card {
  margin: 1px;
  margin-left: 30%;
  margin-bottom:10%;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  height: 70% !important;
  flex-wrap: wrap;
  flex-flow: column;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 25px;
  background-color: lightslategray;
  text-align: left;
  color: white;
  display: flex;
  justify-content:space-around;
}

.member-card {
  margin: 20px;
  margin-left: 30%;
  margin-bottom:10%;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  height: 70% !important;
  flex-wrap: wrap;
  flex-flow: wrap;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 25px;
  background-color: lightslategray;
  text-align: left;
  color: white;
  display: flex;
  justify-content:space-around;
}

#update-password, #create-group, #join-group {
    color: darkcyan;
    font: small-caps;
    font-weight: bolder;
    font-family:'Arial';
    text-shadow: steelblue;
    background-color: thistle;
    border-radius: 10px;
    box-shadow: slategrey;
    margin: 5%;
    padding: 10px 5px 10px 5px;
    flex-flow: wrap;
    flex-wrap: wrap;
    justify-content:space-between;
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
}

/* .card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
} */

/* .card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
} */

/* .container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
} */

/* a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a[data-toggle="collapse"] {
    position: relative;
} */



@media screen and (max-height: 450px) {
  
} 