body {
  font-family: Helvetica;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../images/homepageBackground.png") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-blend-mode:color-burn;
  background-color: rgb(193, 226, 226);
}

h1, h2, h3, h4, h5, h6 {
    font-stretch:semi-expanded;
    display: inline-block;
    text-align: left;
}

/* .container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center; */

.about-blurb {
  margin: 15px 100px 15px 100px;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  height: 70% !important;
  flex-wrap: wrap;
  background-color: darkcyan;
  color: white;
  border-style: double;
  border-color: lightcyan;
  border-width: 10px;
}

.faq {
  margin: 0px 300px 5px 300px;
  padding: 10px 20px 40px 10px;
  box-sizing: border-box;
  height: 70% !important;
  text-align: left;
  flex-wrap: wrap;
  background-color: darkcyan;
  color: white;
  border-style: double;
  border-color: lightcyan;
  border-width: 10px;
}

.pod-images {
  padding-right: 200px;
  padding-bottom: 0px;
  flex-direction: wrap;
  justify-content: left;
  flex-wrap: wrap;
  flex-flow: wrap;
  float:initial;
}

.navbar {
  background-color:  lightcyan;
  font-family:'Lucida Sans Unicode';
  font-weight: bolder;
  opacity: 90%;
  height: min-content;
}

nav a {
  color: rgb(72, 83, 94);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: rgb(216, 220, 224);
  background-color: darkcyan !important;
  opacity: 40%;
  border-radius: 40%;
  transition: ease-in;
}

#navbar {
  background-color:  darkcyan;
  background-blend-mode: overlay;
  font-family:'Helvetica';
  font-weight: bolder;
  image-resolution: 100%;
  opacity: 60%;
  width: 10px;
}

.container {
    margin: 40px 40px 40px 40px;
    max-width: 3000px;
    padding: 5px 3px 30px 0px;
    position: relative;
    font-family:Georgia;
    text-align: center;
    background-color: lightslategray;
    opacity: 80%;
}

#homepage-card {
    height: 100%;
    width: 100%;
    background-color: darkcyan;
    color: darkslategray;
    font-family:'Trebuchet MS';
    flex-direction: wrap;
}


/* CARDS */
.dash-card {
  margin: 20px;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
  height: 70% !important;
  flex-wrap: wrap;
  flex-flow: column;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 25px;
  background-color: lightslategray;
  text-align: center;
  color: white;
  display: flex;
  justify-content:space-around;
}

/* .aside {
  align-content: flex-end;
  display: flex;
  justify-content:space-around;
} */

.info-card {
  margin: 20px;
  margin-left: 30%;
  padding: 10px 40px 10px 40px;
  box-sizing: border-box;
  max-width: 300%;
  height: 100% !important;
  flex-wrap: wrap;
  flex-flow: column;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 25px;
  background-color: lightslategray;
  text-align: left;
  color: white;
  display: flex;
  justify-content:space-around;
}

.group-card {
  margin: 50px;
  margin-left: 38%;
  padding: 10px 50px 10px 50px;
  box-sizing: border-box;
  max-width: 50%;
  height: 150% !important;
  flex-wrap: wrap;
  flex-flow: column;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 25px;
  background-color: lightslategray;
  background-blend-mode: lighten;
  text-align: left;
  color: white;
  display: flex;
  justify-content:space-around;
} */

.rule-card {
  margin: 1px;
  margin-left: 30%;
  margin-bottom:10%;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  height: 70% !important;
  flex-wrap: wrap;
  flex-flow: column;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 25px;
  background-color: lightslategray;
  text-align: left;
  color: white;
  display: flex;
  justify-content:space-around;
}

.member-card {
  margin: 20px;
  margin-left: 30%;
  margin-bottom:10%;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  height: 70% !important;
  flex-wrap: wrap;
  flex-flow: wrap;
  border: 7px double darkcyan;
  mask-border-width: 40%;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  border-radius: 25px;
  background-color: lightslategray;
  text-align: left;
  color: white;
  display: flex;
  justify-content:space-around;
}

#update-password, #create-group, #join-group {
    color: darkcyan;
    font: small-caps;
    font-weight: bolder;
    font-family: Helvetica;
    text-shadow: steelblue;
    text-align: left;
    background-color: rgb(207, 231, 238);
    background-blend-mode: hue;
    border-radius: 10px;
    box-shadow: slategrey;
    margin: 5%;
    padding: 10px 5px 10px 5px;
    flex-flow: wrap;
    flex-wrap: wrap;
    justify-content:space-between;
}

.login-form {
  margin: 0 0 200px 0;
  flex: 0 0 10%;
  max-width: 75%;
  padding: 20px;
  border: 3px darkslategray;
  border-radius: var(--border-radius);
  border-style: double;
  background-color: #d1e6e7;
  background-blend-mode: lighten;
}

.signup-form {
  margin: 0 0 200px 0;
  flex: 0 0 10%;
  max-width: 75%;
  padding:20px;
  border: 3px darkslategray;
  border-radius: var(--border-radius);
  border-style: double;
  background-color: #d1e6e7;
  background-blend-mode: lighten;
}

.form-input {
    text-align: justify;
}

/* .card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
} */

/* .card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
} */

/* .container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
} */

/* a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a[data-toggle="collapse"] {
    position: relative;
} */



@media screen and (max-height: 450px) {
  
} 