<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <div class="col-md-6">
        <h2>Login</h2>

        <form class="form invite-form">
          <div class="form-group" id="email-invite" hidden>
            <label for="email-login">email:</label>
            <input class="form-input" type="text" id="email-login" />
          </div>
          
          <div class="form-group">
            <button class="btn btn-primary" id="invite-button" type="submit">invite</button>
          </div>
        </form>
      </div>
    </div>

    <script src="../../public/js/invite.js"></script>
  </body>
</html>
